<div class="CaixaJogoTicTacToe">
  <div #TicTacToeGame class="JogoTicTacToe" (click)="CliqueJogo($event)">
    <div class="LinhaSuperiorBricks LinhasJogo">
      <div class="Brick" id="Brick00"></div>
      <div class="Brick" id="Brick01"></div>
      <div class="Brick" id="Brick02"></div>
    </div>

    <div class="LinhaMeioBricks LinhasJogo">
      <div class="Brick" id="Brick10"></div>
      <div class="Brick" id="Brick11"></div>
      <div class="Brick" id="Brick12"></div>
    </div>
    <div class="LinhaInferiorBricks LinhasJogo">
      <div class="Brick" id="Brick20"></div>
      <div class="Brick" id="Brick21"></div>
      <div class="Brick" id="Brick22"></div>
    </div>
  </div>
  <div class="SideArea">
    <div class="DetailsPlayers">
      <p>{{ Player1.name }}: {{ Player1.points }}</p>
      <p>{{ Player2.name }}: {{ Player2.points }}</p>
    </div>
    <div class="GameButtons">
      <button type="button" (click)="FinishGame()">End</button>
    </div>
  </div>
</div>
